# Dependencies
node_modules

# Build output
dist
build

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode
.idea

# Testing
coverage

# Logs
*.log
logs

# OS
.DS_Store
Thumbs.db

# Temporary
*.tmp
*.temp
